body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a6a6a6;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c4a3ca;
  border: 2px solid black;
}

p {
  font-size: 1.2em;
  margin-top: 20px;
}
